body {
    font-family: Roboto, sans-serif;
    margin: 0px;
    
}

.links {
    display:flex;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding-left: 80px;
    padding: 20px 100px 50px 100px;
}

img {
    align-self: center;
    width: 30%;

}

.hero {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 40px 100px 80px 100px;
    gap: 80px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

button {
    margin-top:24px;
    font-size: 14px;
    color: #f9faf8;
    font-weight: bold;
    background-color: #3882f6;
    border-color: #3882f6;
    border-radius: 6px;
    border-style: solid;
    text-decoration: none;
    padding: 10px 25px 10px 25px;
}

.main-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.secondary-text {
    font-size: 18px;
    color: #f9faf8;
}

a {
    color: white;
    text-decoration: none;
}